
<head><title>Diana Arteaga</title></head>


<body>


<h1>diana arteaga</h1>

	<p>Hellllo woooorld! Check out my <%= link_to "about", about_path %> page to find out about me, and feel free to <%= link_to "contact", contact_path %> me, whenever!</p>
</body>